# Dependencias
node_modules/

# Build
dist/
build/

# Variaveis de ambiente
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
.vite/

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# PWA Dev Distribution
dev-dist/
